.rainbow-shadow {
    position: relative;
    z-index: 1;
  }
  
  .rainbow-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -10x;
    background: linear-gradient(270deg, #ff6ec4, #7873f5, #4ADEDE, #00ff95, #ff6ec4);
    background-size: 400% 400%;
    animation: rainbow 8s ease infinite;
    filter: blur(40px);
    z-index: -1;
    border-radius: 2rem;
    opacity: 0.7;
    pointer-events: none;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  