.navbar-rainbow-shadow {
    position: relative;
    z-index: 1;
  }

  .rainbow-text {
    background: linear-gradient(270deg, #ff6ec4, #7873f5, #4ADEDE, #00ff95, #ff6ec4);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbowMove 6s linear infinite;
  }
  
  @keyframes rainbowMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  
  
  .navbar-rainbow-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    background: linear-gradient(270deg, #ff6ec4, #7873f5, #4ADEDE, #00ff95, #ff6ec4);
    background-size: 400% 400%;
    animation: rainbow-shadow 8s ease infinite;
    filter: blur(20px);
    z-index: -1;
    border-radius: 1rem;
    opacity: 0.7;
    pointer-events: none;
  }
  
  @keyframes rainbow-shadow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  